---
import Layout from '../layouts/default.astro';

// TODO upload images to Cloudinary and add their details to this array
const images = [
	{
		public_id: 'cloudinary-images/gallery/tucker-good-z-CMiXijUBo-unsplash',
		alt: 'woman sitting outside the house beside dog',
	},
];

const gallery = images.map(({ public_id, alt }) => {
	return {
		src: '', // TODO generate a Cloudinary URL
		alt,
	};
});
---

<Layout>
	<div class="gallery smart-crop">
		{
			gallery.map(({ src, alt }) => (
				<div class="example">
					<p>TODO: display the image</p>
				</div>
			))
		}
	</div>
</Layout>
