---
import Layout from '../layouts/default.astro';
---

<Layout>
	<h1>Image Handling in Astro Sites</h1>
	<p>
		This site has examples of handling images in Astro sites, ranging from basic
		use cases up to complex cases such as user uploads and moderation.
	</p>
</Layout>
